<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Вход</title>
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>
  <div class="container">
    <div class="login-box">
      <h1>Вход</h1>

      <form method="POST">  <!-- post -->
        <div class="input-group">
          <label>Почта</label>
          <input type="text" name="username_or_email">  <!-- name-->
        </div>

        <div class="input-group">
          <label>Пароль</label>
          <input type="password" name="password">  <!-- name-->
        </div>

        <div class="buttons">
          <button type="submit" class="btn">Войти</button>  <!-- type="submit" -->
          <a href="register.html" class="login-btn"><button type="button" class="btn">Зарегистрироваться</button></a>
        </div>
      </form>
    </div>
  </div>
</body>
</html>
