<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Регистрация</title>
  <link rel="stylesheet" href="../static/style.css">
  <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap" rel="stylesheet">
</head>
<body>

  <div class="container">
    <div class="login-box">
      <h1>Регистрация</h1>

      <div class="input-group">
        <label>Имя пользователя</label>
        <input type="text">
      </div>

      <div class="input-group">
        <label>Почта</label>
        <input type="text">
      </div>

      <div class="input-group">
        <label>Пароль</label>
        <input type="password">
      </div>

      <div class="input-group">
        <label>Повторите пароль</label>
        <input type="password">
      </div>

      <div class="buttons">
        <a href="login.html" class="login-btn"><button class="btn">Войти</button></a>
        <button class="btn">Зарегистрироваться</button>
      </div>
    </div>
  </div>

</body>
</html>