{% extends "base.html" %}

{% block content %}
<div class="chat-layout">
    <div class="sidebar">
        <input class="search" placeholder="Поиск">
        <div class="chat-list">
            <div hx-get="/chat/list" hx-trigger="load">
        </div>
        <div class="sidebar-buttons">
            <button class="btn">Add book</button>
            <button class="btn">New chat</button>
        </div>
        <div class="account">
            <div class="avatar-small">You</div>
            <a href="{{ /account }}">
                <button class="btn">Настроить аккаунт</button>
            </a>
        </div>
    </div>

    <div class="chat-area">
        <h2 class="chat-title">Название чата</h2>
        <div id="messages"
             class="messages"
             hx-get="/messages/1"
             hx-trigger="load">
        </div>
        <form class="input-area"
              hx-post="/send/1"
              hx-target="#messages"
              hx-swap="beforeend">
            <input name="text" placeholder="Поле ввода" autocomplete="off">
            <button class="send">⬆</button>
        </form>
    </div>
</div>
{% endblock %}
