{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="login-box">
        <form method="post" action="/register">
            <h1>Регистрация</h1>

            <div class="input-group">
                <label>Имя пользователя</label>
                <input type="text" name="username">
            </div>

            <div class="input-group">
                <label>Почта</label>
                <input type="text" name="email">
            </div>

            <div class="input-group">
                <label>Пароль</label>
                <input type="password" name="password">
            </div>

            <div class="input-group">
                <label>Повторите пароль</label>
                <input type="password" name="confirm_password">
            </div>

            <div class="buttons">
                <a href="/login" class="btn">Войти</a>
                <button type="submit" class="btn">Зарегистрироваться</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}