{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="login-box settings-box">
        <h1>Настройки</h1>

        <div class="settings-row">
            <div class="settings-label">Имя пользователя</div>
            <div class="settings-content">Username1</div>
            <div class="settings-actions">
                <button class="btn">Сменить имя</button>
            </div>
        </div>

        <div class="settings-row">
            <div class="settings-label">Почта</div>
            <div class="settings-content">username1@example.com</div>
            <div class="settings-actions">
                <button class="btn">Сменить почту</button>
            </div>
        </div>

        <div class="settings-row">
            <div class="settings-label">Пароль</div>
            <div class="settings-content">********</div>
            <div class="settings-actions">
                <button class="btn">Сменить пароль</button>
            </div>
        </div>

        <div class="buttons">
            <button class="btn">Сохранить</button>
            <a href="{{ chat }}">
                <button class="btn">Вернуться</button>
            </a>
        </div>

    </div>
</div>
{% endblock %}
